<nav class="navbar navbar-expand-lg navbar-light bg-light">

       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"> 
      <a href="/">
        <span class="navbar-brand mb-0 mx-3">Asset Tracker</span>
      </a>
      <a href="/detail"><span class="navbar-brand mx-3">Get Detail</span></a>

      <a href="/transfer"><span class="navbar-brand mx-3">Transfer Asset</span></a>
      </div>
      </div>

      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search Asset"
          aria-label="Search"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </nav>